@charset "UTF-8";

table {
	background-color: #8080ff;
	border: 1px solid white;
	padding: 10px;
	margin: auto;
	width: 30%;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.subtitle {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}

td {
	width: 40px;
	padding: 5px 10px;
}

#buttons{
	text-align: center;
}